@model IEnumerable<RingAssigment.Models.Ring>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Current Rings</h1>
    <table class="table table-striped border">
        <thead>
            <tr>
                <th>Ring Number</th>
                <th>Age</th>
                <th>Rank</th>
                <th>Division</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ring in Model)
            {
                <tr>

                    <td>@ring.RingNumber</td>
                    <td>@ring.AgeRange</td>
                    <td>@ring.Rank</td>
                    <td>@ring.Division</td>
                    <td>@ring.Gender</td>
                    <td>
                        <a class="btn btn-primary" href="/rings/edit/@ring.Id">
                            Edit
                        </a>
                        <a href="/rings/delete/@ring.Id" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>
